<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>736740507929-89obsuvmqdgc1oumhbnek7jv0t4rto70.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.736740507929-89obsuvmqdgc1oumhbnek7jv0t4rto70</string>
	<key>API_KEY</key>
	<string>AIzaSyApphheW32ZVgJvnJY4hb0bCl3rJzOY2fU</string>
	<key>GCM_SENDER_ID</key>
	<string>736740507929</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>RecepAkkoyun.Netflix-Clone</string>
	<key>PROJECT_ID</key>
	<string>netflixapp-2d4ec</string>
	<key>STORAGE_BUCKET</key>
	<string>netflixapp-2d4ec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:736740507929:ios:d8775c57aab888898ec588</string>
</dict>
</plist>